@model IList<CaelumEstoque.Models.Produto>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@Html.RouteLink(p.Nome, "VisualizaProduto", new { id = p.Id })</td>
                <td id="quantidade@(p.Id)">@p.Quantidade</td>
                <td><a href="#" onclick="decrementa(@p.Id);" >Decrementar</a></td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    function decrementa(produtoId){
        var url = "@Url.Action("DecrementaQtd", "Produto")";
        var params = {id : produtoId};
        $.post(url, params, atualiza);
    }

    function atualiza(resposta){
        var elemento = $("#quantidade" + resposta.Id);
        elemento.html(resposta.Quantidade);
    }
    
</script>